# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# Android/iOS native folders (let EAS handle prebuild)
android/
ios/
# typescript
*.tsbuildinfo

app-example

#not upgrade
#@react-native-firebase/app, @react-native-firebase/database, @react-native-firebase/firestore, @react-navigation/bottom-tabs, @react-navigation/native, @react-navigation/stack, axios, firebase, react-native-elements, react-native-vector-icons, zustand, @types/jest, @types/react-test-renderer, react-test-renderer
